h3 {
	text-align: center;
	padding-top: 135px;
}

a {
	font-size: 25px;
}

.centro {
	text-align: center;
	padding-left: 475px;
}

#botao-sair {
	padding-top: 5px;
	padding-left: 5px;
}