h3 {
	text-align: center;
	padding-top: 185px;
}

a {
	font-size: 25px;
}

.centro {
	text-align: center;
	padding-left: 475px;
}

.header {
  position: fixed;
  left: 0;
  top : 0;
  padding-left: 1289px;
  width: 100%;
  background-color: #6495ED;
  color: white;
}

#botao-sair {
	padding-top: 5px;
	padding-left: 5px;
}